@model Nop.Plugin.Widgets.ProductMessage.Models.PublicInfoModel
@{
    Layout = "";
}

<div class="additional-details">
    <div class="stock">
        <span class="value">
            @Model.Message
        </span>
    </div>
</div>